<div class="profile">
    <div class="img">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAQAAACQ9RH5AAAANklEQVR42u3NAQ0AAAgDIN8/oWk0hnODAqSnTkQsFovFYrFYLBaLxWKxWCwWi8VisVgsFn+KF/YRbt0rxAMbAAAAAElFTkSuQmCC"
             alt="Profile name" width="60" height="60">
    </div>
    <div class="info">
        <p class="profile-name">{{ name }}</p>
        <p class="profile-message_preview">{{ message.text }}</p>
    </div>
    <div class="other">
        <span class="time">{{ message.time }}</span>
        {{#if message.count}}
            <span class="profile-message-count">{{ message.count }}</span>
        {{/if}}
    </div>
</div>