---
"title": "Авторизация"
form-data: {
    "inputText": {
        "type": "text",
        "placeholder": "Ваш логин",
        "name": "login"
    },
    "inputPassword": {
        "type": "password",
        "placeholder": "Ваш пароль",
        "name": "password"
    }
}
regButton: true
formButtonText: "Войти"
---


{{!< base}}

<div id="login">
    {{>'Form/GuestForm' data=form-data title=title regButton=regButton formButtonText=formButtonText}}
</div>