/* stylelint-disable no-empty-source, at-rule-no-unknown */
/* stylelint-enable no-empty-source, at-rule-no-unknown */
.profiles {
  min-width: 30%;
  background-color: rgb(188 130 215 / 20%);
  border-right: 1px solid #490c664d;
  overflow-y: hidden;
}

.profiles .profiles-top {
  padding-bottom: 15px;
  margin: 15px;
  border-bottom: 1px solid #490c664d;
}

.profiles .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.profiles .profiles-top-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.profiles .profiles-top-info .img {
  margin-right: 15px;
}

.profiles .profiles-top-info .profile-name {
  font-weight: 700;
}

.profiles .profiles-top-info .profile-status {
  color: #999;
  font-size: 12px;
}

.profiles .profiles-settings {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.profiles .profiles-settings i {
  font-size: 18px;
}

.profiles .profiles-search input:active,
.profiles .profiles-search input:focus {
  box-shadow: none;
  outline: none;
  border-color: #603276;
}

.profiles .profiles-body {
  overflow-y: auto;
  overflow-x: hidden;
}
