/* stylelint-disable no-empty-source, at-rule-no-unknown */
/* stylelint-enable no-empty-source, at-rule-no-unknown */
.services {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services h2 {
  font-size: 40px;
  text-shadow: 2px 2px 2px #ccc;
}

.services p {
  font-size: 36px;
  text-shadow: 2px 2px 2px #ccc;
}

.services .inner {
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #603276;
  box-shadow: 0 0 10px 2px #603276;
}
