---
profiles: [
    {
        "name": "Вася",
        "active": true,
        "messages": {
            text: "Lorem Ipsum is simply dummy text of the p",
            time: "12:33",
            count: 0
        }
    },
{
"name": "Петр",
"messages": {
text: "text message 2",
time: "10:12",
count: 2
}
},
{
"name": "Алёна",
"messages": {
text: "text message 3",
time: "14:16",
count: 0
}
}
]

chat: [
{
date: '12:20',
message: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when a",
from: '123456',
to: 'me',
},
{
date: '12:25',
message: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when a",
from: 'me',
to: '123456',
"from_me": true,
},
{
date: '12:33',
message: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when a",
from: '123456',
to: 'me'
},
]
---

{{!< base}}

<div id="chat">
    {{> Profiles/Profiles profiles=profiles}}
    {{> ChatMessages/ChatMessages messages=chat }}
</div>