<div class="chat-message">
    <div class="bg-chat"></div>
    <div class="chat-message-items">
        {{#each messages}}
            {{> MessageItem/MessageItem data=this }}
        {{/each}}
    </div>
    <div class="chat-message-send">
        <i class="fa fa-paperclip" aria-hidden="true"></i>
        <label for="chat-message-text"></label>
        <input type="text" placeholder="Введите текст" id="chat-message-text">
        <button class="send-button" type="button">Отправить</button>
    </div>
</div>