---
"title": "Регистрация"
form-data: {
    "inputName": {
        "type": "text",
        "placeholder": "Имя",
        "name": "first_name"
    },
    "inputSurname": {
        "type": "text",
        "placeholder": "Фамилия",
        "name": "second_name"
    },
    "inputLogin": {
        "type": "text",
        "placeholder": "Логин",
        "name": "login"
    },
    "inputEmail": {
        "type": "email",
        "placeholder": "Ваша почта",
        "name": "email"
    },
    "inputPassword": {
        "type": "password",
        "placeholder": "Ваш пароль",
        "name": "password"
    },
    "inputPhone": {
        "type": "tel",
        "placeholder": "Телефон",
        "name": "phone"
    }

}
formButtonText: "Регистрация"
---


{{!< base}}

<div id="registration">
    {{>'Form/GuestForm' data=form-data title=title formButtonText=formButtonText }}
</div>