#modal-settings {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#modal-settings .inner {
  position: absolute;
  width: 600px;
  height: 800px;
  left: calc(50% - 300px);
  top: calc(50% - 400px);
  background-color: #fff;
  border: 1px solid #603276;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
#modal-settings .inner h2 {
  font-size: 36px;
  text-align: center;
  padding: 20px 0;
  text-shadow: 2px 2px 2px #ccc;
}
#modal-settings .inner .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #490c664d;
}
#modal-settings .inner .row span:last-child {
  color: #999;
}
#modal-settings .inner .button-exit {
  margin-top: 15px;
}
#modal-settings .inner .button-exit button {
  color: red;
}
#modal-settings .inner .button-close {
  margin-top: auto;
  align-self: flex-end;
}
#modal-settings .inner .inner-body {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
#modal-settings .inner .change-data,
#modal-settings .inner .change-password {
  margin-top: 20px;
}
#modal-settings .inner .change-avatar {
  width: 150px;
  height: 150px;
  border: 1px solid #603276;
  border-radius: 50%;
  cursor: pointer;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
#modal-settings .inner .change-avatar .change-avatar-text {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
#modal-settings .inner .change-avatar .change-avatar-text span {
  color: #fff;
  width: 70%;
  text-align: center;
}
#modal-settings .inner .change-avatar i {
  font-size: 60px;
  color: #CCCCCC;
  transition: opacity 0.3s;
}
#modal-settings .inner .change-avatar:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
#modal-settings .inner .change-avatar:hover .change-avatar-text {
  opacity: 1;
}
#modal-settings .inner .change-avatar:hover i {
  opacity: 0.2;
}
