/* stylelint-disable no-empty-source, at-rule-no-unknown */
/* stylelint-enable no-empty-source, at-rule-no-unknown */
input {
  width: 100%;
  height: 40px;
  color: #333;
  font-size: 14px;
  border: 1px solid #bc82d7;
  border-radius: 5px;
  padding: 0 0 0 24px;
}

input:active,input:focus {
  box-shadow: none;
  outline: none;
  border-color: #603276;
}
