<ul>
    <li>
        <a href="./Pages/Login/Login.hbs">Login</a>
    </li>
    <li>
        <a href="./Pages/Registration/Registration.hbs">Registration</a>
    </li>
    <li>
        <a href="./Pages/Chat/Chat.hbs">Not change chat</a>
    </li>
    <li>
        <a href="./Pages/Chat/ActiveChat.hbs">Active chat</a>
    </li>
    <li>
        <a href="./Pages/Services/404.hbs">404 error</a>
    </li>
    <li>
        <a href="./Pages/Services/500.hbs">500 error</a>
    </li>
    <li>
        <a href="./Pages/ProfileInfo/ProfileInfo.hbs">ProfileInfo</a>
    </li>
</ul>
